body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212;
  color: #e0e0e0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  color: #000;
}

#left-scroll {
  height: 80vh;
  overflow-y: scroll;
  background-color: #1f1f1f;
  color: #dedede;
}

@media only screen and (max-width: 400px) {
  #left-scroll {
    height: 90vh;
  }
}

.card {
  background-color: #1f1f1f;
}

button > * {
  pointer-events: none;
}

#right-col {
  height: 75vh;
}

@media only screen and (max-width: 400px) {
  #right-col {
    height: 85vh;
  }
}

#next {
  margin-top: auto;
}

#results-container > .row .row-bordered:after {
  content: "";
  display: block;
  border-bottom: 1px solid #ccc;
  margin: 0 15px;
}

#team-score {
  min-width: 75px;
}

.navbar-brand {
  color: #bb86fc;
  font-size: 25px;
  font-weight: bold;
}

.navbar-brand:hover {
  color: #9a4cfa;
  transform: translateY(-3px);
}

#add-team-button {
  border-radius: 50%;
  background-color: #00dac5;
  transition: all 0.3s ease 0s;
}

#add-team-button:hover {
  background-color: #00b8a5;
  transform: translateY(-3px);
  box-shadow: 0px 15px 20px rgba(0, 184, 165, 0.4);
  color: #fff;
}

.bi-plus {
  font-size: 30px;
}

#start-game-btn,
#next-question-btn,
#end-game-btn {
  background-color: #bb86fc;
  color: #121212;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  border-radius: 45px;
  transition: all 0.3s ease 0s;
}

#start-game-btn:hover,
#next-question-btn:hover,
#end-game-btn:hover {
  background-color: #9a4cfa;
  box-shadow: 0px 15px 20px rgba(154, 76, 250, 0.4);
  color: #fff;
  transform: translateY(-3px);
}

html * {
  font-family: "Mulish", sans-serif;
}

#prompt-answer {
  background-color: #1f1f1f;
}

input[type="text"],
#difficulty {
  background-color: #dedede;
}

input[type="text"]:focus,
#difficulty:focus {
  background-color: #dedede;
  box-shadow: 0 0 5px rgba(187, 134, 252, 1);
  border: 1px solid rgba(187, 134, 252, 1);
}
