body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #003049;
  color: #fcbf49;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  color: #000;
}

#left-scroll {
  height: 82vh;
  overflow-y: scroll;
  background-color: #fcbf49;
  color: #003049;
}

.card {
  background-color: #fcbf49;
}

button > * {
  pointer-events: none;
}

#right-col {
  height: 75vh;
}

#left-col {
  color: black;
}

#next {
  margin-top: auto;
}

#results-container > .row .row-bordered:after {
  content: "";
  display: block;
  border-bottom: 1px solid #ccc;
  margin: 0 15px;
}

#team-score {
  min-width: 75px;
}
