body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: "public/pexels-marcus-herzberg-1058277.jpg"; */
  /* background-image: url("images/pexels-marcus-herzberg-1058277.jpg"); */
  background-color: #121212;
  color: #e0e0e0;
  /* min-height: 100vh;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(255, 0, 150, 0.3); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  color: #000;
}

#left-scroll {
  height: 82vh;
  overflow-y: scroll;
  background-color: #1f1f1f;
  color: #dedede;
}

.card {
  background-color: #1f1f1f;
}

button > * {
  pointer-events: none;
}

#right-col {
  height: 75vh;
}

#left-col {
  color: black;
}

#next {
  margin-top: auto;
}

#results-container > .row .row-bordered:after {
  content: "";
  display: block;
  border-bottom: 1px solid #ccc;
  margin: 0 15px;
}

#team-score {
  min-width: 75px;
}

#home-text-container {
  min-height: 100vh;
}

#welcome-first-line {
  margin-top: 250px;
}

.navbar-brand {
  color: #bb86fc;
}

.navbar-brand:hover {
  color: #9a4cfa;
  transform: translateY(-3px);
}

#add-team-button {
  border-radius: 50%;
  background-color: #00dac5;
  transition: all 0.3s ease 0s;
}

#add-team-button:hover {
  background-color: #00b8a5;
  transform: translateY(-3px);
  box-shadow: 0px 15px 20px rgba(0, 184, 165, 0.4);
  color: #fff;
}

.bi-plus {
  font-size: 30px;
}

#start-game-btn {
  background-color: #bb86fc;
  color: #121212;
  /* border-color: #bb86fc; */
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  border-radius: 45px;
  transition: all 0.3s ease 0s;
}

#start-game-btn:hover {
  background-color: #9a4cfa;
  box-shadow: 0px 15px 20px rgba(154, 76, 250, 0.4);
  color: #fff;
  transform: translateY(-3px);
}
